<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid align-content-center-center">

    <p class="navbar-brand bold">Explore NASA`s expeditions to Mars</p>

    <div>
      <button type="button" class="btn btn-outline-light mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        ABOUT THE PROGRAM
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">ABOUT THE PROGRAM</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <h3 class="text-center">ABOUT THE PROGRAM</h3>

                <p>NASA’s Mars Exploration Program is a science-driven, technology-enabled study of Mars as a planetary system in order to understand:</p>

                <ul>
                  <li>the formation and early evolution of Mars as a planet</li>
                  <li>the history of geological and climate processes that have shaped Mars through time</li>
                  <li>the potential for Mars to have hosted life (its “biological potential”)</li>
                  <li>the future exploration of Mars by humans, and how Mars compares to and contrasts with Earth</li>
                </ul>

                <p>The goal of the Mars Exploration Program is to explore Mars and to provide a continuous flow of scientific information and discovery through a carefully selected series of robotic orbiters, landers and mobile laboratories interconnected by a high-bandwidth Mars/Earth communications network.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <a class="navbar-brand" href="https://mars.nasa.gov/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png" alt="Bootstrap" width="30" height="24">
      </a>
    </div>
  </div>
</nav>
